body {
    width:100vw;
    overflow: hidden;
    margin:0;
    padding: 0;
    position: relative;
    font-family: 'Bruno Ace SC';
    text-transform: uppercase;
    background-color: black;
    display: flex;
    flex-direction: column;
    min-width: 600px;
}


.choice{
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255,255,255,0.5);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    padding-bottom: 30px;
    width:50vw;
}

#choice{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(157, 168, 203);
    color: rgb(221, 236, 238);
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    background-color: rgb(109, 123, 168);
    color: rgb(221, 236, 238);
    margin-top: 10px;
    font-family: 'Bruno Ace SC';
    text-transform: uppercase;
}

input[type="submit"]:hover{
    background-color: blueviolet;
    cursor: pointer;
    transition: 500ms;
}

input[type="text"] { 
    width: 100%;
    padding: 10px 0 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgb(157, 168, 203);
    color: rgb(221, 236, 238);
}

form{
    width:100%;
}

#meme1 {
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%);
}

#meme1:hover {
    transition: 500ms;
    filter: blur(10px);
    z-index: -1;
    scale: 1.1;
}


.texte {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    color: white;
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%);
}